<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm">
        <div id="user-data">

          <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" id="firstrname" class="form-control" formControlName="firstname">
          </div>

          <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" id="lastname" class="form-control" formControlName="lastname">
          </div>

          <div class="form-group">
            <label for="age">Age</label>
            <input type="text" id="age" class="form-control" formControlName="age">
          </div>
         
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" id="phone" class="form-control" formControlName="phone">
          </div>
          <div class="form-row mt-4">
            <div class="col-md-6">
                <button type="button"  class="btn btn-primary" (click)="AddUser()">Add User</button>&nbsp; 
                <button type="button" class="btn btn-primary" (click)="Reset()">Reset</button>
            </div>
          </div>
        </div>
        
        <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
      </form>
      <div class="col-md-8 mt-4 mb-4">
        <table border="4">
        <thead >
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listData">
            <td>
              <span>
                {{item.firstname}}
              </span>
            </td>
            <td>
              <span>
                {{item.lastname}}
              </span>
            </td>
            <td>
              <span>
                {{item.age}}
              </span>
            </td>
            <td>
              <span>
                {{item.phone}}
              </span>
            </td>
            <td><button type="button" class="btn btn-primary" >Delete</button></td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
